{
	"Name": "joshtest123",
	"Group": "#joshtestgroup",

	"Friends": {
		"joshtest456": {
			"Validate": false
		}
	},
	"Stun": {
		"Server": "stun.stunprotocol.org:3478"
	},
	"Sig": {
		"Server": "irc.freenode.org:6667"
	},
	"VPN": {
		"Path": "/usr/bin/openvpn",
		"Tmp": "/tmp/"
	},
	"IPMan": {
		"Start": "3.0.0.0",
		"Num": "1024"
	}

}

